<% content_for :title do %>GDAX<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="btcprice" data-view="Btcprice" data-btcprice="" data-prefix="$"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="ethprice" data-view="Ethprice" data-ethprice="" data-prefix="$"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="ltcprice" data-view="Ltcprice" data-ltcprice="" data-prefix="$"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock"></div>
    </li>
  </ul>
</div>

<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>

